{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>
    	<b>Prénom</b> : {{ user.firstname }}
    </p>
    <p>
    	<b>Nom</b> : {{ user.lastname }}
    </p>
    <p>
    	<b>{{ 'profile.show.username'|trans }}</b> : {{ user.username }}
    </p>
    <p>
    	<b>{{ 'profile.show.email'|trans }}</b> : {{ user.email }}
    </p>
    <p>
    	<b>Numéro de téléphone</b> : {{ user.phone|default('non renseigné') }}
    </p>
    <div class="options">
		<a href="{{ path('fos_user_profile_edit') }}" class="btn btn-info btn-sm">
		 	<span class="fas fa-pencil-alt"></span> Modifier mon profil
		</a>
        <a href="{{ path('delete_user') }}" class="btn btn-danger btn-sm">
            <span class="fas fa-trash-alt"></span> Supprimer mon compte
        </a>
    </div>
</div>
