<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>OpenMobileRooms - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script defer src="//use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{{ path('mobiles') }}">📞 OpenMobileRooms</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {% if 'mobiles' in app.request.get('_route')  %}active{% endif %}">
                            <a class="nav-link" href="{{ path('mobiles') }}">
                                Mobiles 
                                {% if 'mobiles' in app.request.get('_route')  %}
                                    <span class="sr-only">(current)</span>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                    <div class="my-2 my-lg-0">
                        <ul class="navbar-nav">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="fas fa-user"></span> {{ app.user.username }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">Profil</a>
                                        <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="fas fa-user"></span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{{ path('fos_user_registration_register') }}">Inscription</a>
                                        <a class="dropdown-item" href="{{ path('fos_user_security_login') }}">Connexion</a>
                                    </div>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <span class="fas fa-shopping-cart"></span>        
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        {% block heading %}{% endblock %}           
        <div class="container">
            {% block body %}{% endblock %}            
        </div>

        <script src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
